<!DOCTYPE html>
<html>

<head>
    <title>UEG - Desenvolvimento Web 2025: Alunos</title>
</head>

<body>
    <h1>Lista de alunos</h1>
    <table>
        <tr>
            <th> Nome</th>
            <th>Matricula</th>
            <th>Ação</th>

        </tr>

        <tr>
            <td>João</td>
            <td>123</td>
            <td>
                <ul>
                    <li>
                        <a href="aluno-update.html">Editar</a>
                    
            </li>
            <li>
                <a href="aluno-delete.html">Excluir</a></td>
            </li>
            </ul>
            </td>
    </table>
</body>

</html>