<!DOCTYPE html>
<html>
<head>
<title>UEG - Desenvolvimento Web 2025</title>
</head>
<body>
<h1>Update de Alunos</h1>
<form>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>
    <label for="matricula">Matrícula:</label>
    <input type="text" id="matricula" name="matricula" required><br><br>
    <label for="E-mail">E-mail:</label>
    <input type="text" id="E-mail" name="E-mail" required><br><br>
    <button type="submit">Salvar</button>
    
</form>
</body>
</html>